[color]
    ui = auto
[alias]
    st = status
    di = diff
    ci = commit
    co = checkout
    br = branch
    llog = log --date=local
[rerere]
    enabled = true
[user]
    email = brycecaine@gmail.com
    name = Bryce Caine
[push]
    default = simple
